<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Bullsh!t Simpsons</title>

    <!-- Combined CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/custom.css">

    <!-- Favicon -->
    <link rel="icon" href="https://i.pinimg.com/originals/b0/9d/89/b09d8964573bee9b39a281a908a323fe.png"
          type="image/png">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- Custom CSS for suggestions -->
    <style>
        .dropdown-item {
            white-space: nowrap; /* Prevent text from wrapping */
            overflow: hidden; /* Hide overflowing text */
            text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
            max-width: 100%; /* Ensure text stays within the dropdown width */
        }

        .dropdown-item:hover {
            background-color: #007bff; /* Change to the desired Simpsons blue color */
            color: #fff; /* Change to the desired text color for hover */
            cursor: pointer;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light simpsons-navbar">
    <a class="navbar-brand text-white" href="/">No Bullsh!t Simpsons</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/seasons">Seasons</a>
        </li>
        <li class="nav-item">
            <form class="form-inline my-2 my-lg-0 position-relative" action="/search" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search episodes by title"
                       aria-label="Search" name="query" autocomplete="off">
                <ul class="autocomplete-suggestions dropdown-menu w-100" style="display: none;"></ul>
                <!-- Autocomplete suggestions dropdown -->
            </form>
        </li>
        <!-- Add more navigation links here -->
    </ul>
</nav>
<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<!-- Add JavaScript with the 'defer' attribute here if needed -->
<script>
  const searchInput = document.querySelector('input[name="query"]');
  const suggestionsDropdown = document.querySelector('.autocomplete-suggestions');

  // Fetch episode titles from the episode_data.json file in the static/Data directory
  fetch('/static/Data/episode_data.json')
      .then(response => response.json())
      .then(data => {
          // Extract episode titles from the JSON data
          const episodeTitles = Object.values(data).flatMap(season => season.map(episode => episode['Episode Title']));

          searchInput.addEventListener('input', debounce(() => {
              const query = searchInput.value.toLowerCase();
              const filteredSuggestions = episodeTitles.filter(title =>
                  title.toLowerCase().includes(query)
              ).slice(0, 5); // Limit suggestions to 5 items

              renderSuggestions(filteredSuggestions);
          }, 300));

          // Handle selecting a suggestion
          suggestionsDropdown.addEventListener('click', (event) => {
              if (event.target.tagName === 'LI') {
                  const selectedTitle = event.target.textContent;
                  getEpisodeUrl(selectedTitle)
                      .then(episodeUrl => {
                          if (episodeUrl) {
                              // Redirect to the video page
                              window.location.href = `/video/${episodeUrl}`;
                          }
                      });
              }
          });

          // Function to get the episode URL using Fetch API
          function getEpisodeUrl(episodeTitle) {
              return fetch(`/video_url/${encodeURIComponent(episodeTitle)}`)
                  .then(response => {
                      if (!response.ok) {
                          throw new Error(`HTTP error! status: ${response.status}`);
                      }
                      return response.json();
                  })
                  .then(data => {
                      console.log('Response:', data); // Log the response to the console
                      return data.uuid || 'none';
                  })
                  .catch(error => {
                      console.error('Error:', error);
                      return 'none';
                  });
          }
      })
      .catch(error => {
          console.error('Error fetching episode data:', error);
      });

  function renderSuggestions(suggestions) {
      suggestionsDropdown.innerHTML = '';

      suggestions.forEach(suggestion => {
          const listItem = document.createElement('li');
          listItem.textContent = suggestion;
          listItem.classList.add('dropdown-item');
          suggestionsDropdown.appendChild(listItem);
      });

      // Show/hide the suggestions dropdown based on whether there are suggestions
      if (suggestions.length > 0) {
          suggestionsDropdown.style.display = 'block';
      } else {
          suggestionsDropdown.style.display = 'none';
      }
  }

  // Debounce function
  function debounce(callback, delay) {
      let timeoutId;
      return function () {
          clearTimeout(timeoutId);
          timeoutId = setTimeout(callback, delay);
      };
  }

  // Add a click event listener to close suggestions on click outside
  document.body.addEventListener('click', (event) => {
      if (!searchInput.contains(event.target) && !suggestionsDropdown.contains(event.target)) {
          suggestionsDropdown.style.display = 'none';
      }
  });
</script>
</body>
</html>
