<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Bullsh!t Simpsons</title>

    <!-- Combined CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/custom.css">

    <!-- Preload custom fonts (example) -->
    <link rel="preload" as="font" href="path-to-your-font.woff" type="font/woff" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="icon" href="https://i.pinimg.com/originals/b0/9d/89/b09d8964573bee9b39a281a908a323fe.png" type="image/png">

    <!-- Add other preloads here -->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light simpsons-navbar">
    <a class="navbar-brand text-white" href="/">No Bullsh!t Simpsons</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/seasons">Seasons</a>
        </li>
        <li class="nav-item">
            <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search episodes by title" aria-label="Search" name="query">
            </form>
        </li>
        <!-- Add more navigation links here -->
    </ul>
</nav>
<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<!-- Add JavaScript with the 'defer' attribute here if needed -->
</body>
</html>
