{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div style="width:640px;height:480px;max-width:100%">
                <div id="game"></div>
            </div>
            <script>
                // Update these variables to use the form data
                var gameName = "{{ game }}";
                var emucode = "{{ emucode }}";
                var rom = "{{ rom }}";

                EJS_player = "#game";
                EJS_core = emucode;
                EJS_gameName = gameName;
                EJS_color = "#0064ff";
                EJS_pathtodata = "https://cdn.jsdelivr.net/gh/EmulatorJS/EmulatorJS@latest/data/";
                EJS_gameUrl = rom;
                EJS_DEBUG_XX = true;
            </script>
            <script src="https://cdn.jsdelivr.net/gh/EmulatorJS/EmulatorJS@latest/data/loader.js"></script>
        </div>
    </div>
</div>
{% endblock %}
