{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div style="width:640px;height:480px;max-width:100%">
                <div id="game"></div>
            </div>
            <script>
                EJS_player = "#game";
                EJS_core = "{{ game.emucode }}";
                EJS_gameName = "{{ game.game }}";
                EJS_color = "#0064ff";
                EJS_pathtodata = "/static/emulatorjs/data";
                EJS_gameUrl = "{{ game.rom }}";
            </script>
            <script src="static/emulatorjs/data/loader.js"></script>
        </div>
    </div>
</div>
{% endblock %}
