{% extends "base.html" %}

{% block content %}
<div class="container mt-4 games-page">
    <div class="row">
        {% for game_name, game_info in games_data.items() %}
            {% set game_id = game_name|format_game_id %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ game_info.thumbnail }}" class="card-img" alt="{{ game_name }}">
                    <div class="card-body">
                        <!-- Move the "Play" button above the "Details" button -->
                        <form method="post" action="/emulator">
                            <input type="hidden" name="game" value="{{ game_name }}">
                            <input type="hidden" name="emucode" value="{{ game_info.emucode }}">
                            <input type="hidden" name="rom" value="{{ game_info.rom_file_location }}">
                            <button type="submit" class="btn btn-info mb-2">Play</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#{{ game_id }}DetailsModal">Details</button>
                    </div>
                </div>
            </div>
            <!-- Modal for game details -->
            <div class="modal fade" id="{{ game_id }}DetailsModal" tabindex="-1" role="dialog" aria-labelledby="{{ game_id }}DetailsModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="{{ game_id }}DetailsModalLabel">{{ game_name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Year: {{ game_info.year }}</p>
                            <p>System: {{ game_info.system }}</p>
                            <p>Overview: {{ game_info.description }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
