{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <img src="/static/images/simfamily.png" alt="Simpsons Image" class="img-fluid">
    <blockquote class="blockquote mt-4">
        <p class="mb-0">{{ quote|safe }}</p>
        <footer class="blockquote-footer">{{ character }}</footer>
    </blockquote>
</div>
<style>
  /* Default styles for the card */
  .card {
    width: 18rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  /* Media query for small screens */
  @media (max-width: 768px) {
    .card {
      /* Center the card horizontally */
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      bottom: 20px; /* Adjust as needed */
    }
  }
</style>
{% if last_watched_episode %}
<div class="card" style="width: 18rem; position: fixed; bottom: 20px; right: 20px;">
    <div class="card-header">
        Last Watched Episode
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ last_watched_episode['Episode Title'] }}</li>
    </ul>
</div>



{% endif %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
// The secret code
var secretCode = 'vantra';

var userInput = '';
var audio = new Audio('https://www.myinstants.com/media/sounds/grunt-birthday-party.mp3');

window.addEventListener('keyup', function(e) {

  userInput += e.key;


  if (userInput.endsWith(secretCode)) {
  audio.play();
    Swal.fire({
      title: 'Vantra Hub',
      text: 'Congratulations, you found the awesome easter egg, Vantra Hub is a newly released Script Hub made for dominating your opponents in roblox, join the discord for more information! ',
      confirmButtonText: '<a href="https://discord.gg/y5pNJ3gM">Join Discord</a>'
    });
  }

  if (userInput.length > secretCode.length) {
    userInput = userInput.substr(userInput.length - secretCode.length);
  }
});
</script>
{% endblock %}