{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <img src="/static/images/simfamily.png" alt="Simpsons Image" class="img-fluid">
    <blockquote class="blockquote mt-4">
        <p class="mb-0">{{ quote|safe }}</p>
        <footer class="blockquote-footer">{{ character }}</footer>
    </blockquote>
</div>

{% if last_watched_episode %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow">
                <img src="{{ last_watched_episode['Thumbnail'] }}" class="card-img-top img-fluid" alt="{{ last_watched_episode['Episode Title'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ last_watched_episode['Episode Title'] }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
// The secret code
var secretCode = 'vantra';

var userInput = '';
var audio = new Audio('https://www.myinstants.com/media/sounds/grunt-birthday-party.mp3');

window.addEventListener('keyup', function(e) {

  userInput += e.key;


  if (userInput.endsWith(secretCode)) {
  audio.play();
    Swal.fire({
      title: 'Vantra Hub',
      text: 'Congratulations, you found the awesome easter egg, Vantra Hub is a newly released Script Hub made for dominating your opponents in roblox, join the discord for more information! ',
      confirmButtonText: '<a href="https://discord.gg/y5pNJ3gM">Join Discord</a>'
    });
  }

  if (userInput.length > secretCode.length) {
    userInput = userInput.substr(userInput.length - secretCode.length);
  }
});
</script>
{% endblock %}