<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/musicplayer.css">
</head>
<body>
    <div class="music-player">
        
        <p class="artist-name"></p>
        <div class="disk"></div>
		<h1 class="music-name" style="font-size: 12.4286px;"></h1>
        <div class="song-slider">
            <input type="range" value="0" class="seek-bar">
            <span class="current-time">00:00</span>
            <span class="song-duration">00:00</span>
        </div>
        <div class="controls">
            <button class="btn backward-btn"><img src="static/images/Music/btns/pre.png" alt=""></button>
            <button class="play-btn pause">
                <span></span>
                <span></span>
            </button>
            <button class="btn forward-btn"><img src="static/images/Music/btns/nxt.png" alt=""></button>
        </div> 
    </div>
	<audio src="https://audio.jukehost.co.uk/Bzqi4jZnalfpqEU7LB9IiptyYnN0G6rq" id="audio"></audio>
    <div class="album-selector">
        <!-- Album covers will be dynamically added here -->
    </div>
    <script>
    let currentMusic = 0;
    let isAlbumLoaded = false;
    let currentAlbumIndex = null

    const music = document.querySelector('#audio');

    const seekBar = document.querySelector('.seek-bar');
    const songName = document.querySelector('.music-name');
    const artistName = document.querySelector('.artist-name');
    const disk = document.querySelector('.disk');
    const currentTime = document.querySelector('.current-time');
    const musicDuration = document.querySelector('.song-duration');
    const playBtn = document.querySelector('.play-btn');
    const forwardBtn = document.querySelector('.forward-btn');
    const backwardBtn = document.querySelector('.backward-btn');

    // Define the formatTime function
    const formatTime = (time) => {
      let min = Math.floor(time / 60);
      if(min < 10){
        min = `0${min}`;
      }
      let sec = Math.floor(time % 60);
      if(sec < 10){
        sec = `0${sec}`;
      }
      return `${min} : ${sec}`;
    }

    // Create headers with 'Accept' set to 'application/json'
    const headers = new Headers({
      'Accept': 'application/json'
    });

    // Fetch the album_data.json file with the headers
    fetch('static/data/album_data.json', {
      method: 'GET',
      headers: headers
    })
      .then(response => response.json())
      .then(data => {
        // Extract the songs array from the JSON data
        const albums = data.albums;

        // Define a function to populate the album selector
        const populateAlbumSelector = (albums) => {
            const albumSelector = document.querySelector('.album-selector');

            albums.forEach((album, index) => {
                const albumCover = document.createElement('div');
                albumCover.classList.add('album-cover');
                albumCover.style.backgroundImage = `url(${album.image_url})`;

                // Add a click event listener to load the album
                albumCover.addEventListener('click', () => {
    // Check if the clicked album is not the currently loaded album
    if (currentAlbumIndex !== index) {
        currentAlbumIndex = index;
        setMusic(0); // Load the first song of the selected album
        isAlbumLoaded = true; // Set the flag to indicate that an album is loaded
        // Change the background image of the disk to the selected album cover
        disk.style.backgroundImage = `url(${album.image_url})`;
        resetPlayButton(); // Reset the play button state
		playBtn.classList.add('pause');
    }
});

                albumSelector.appendChild(albumCover);
            });
        };
		
		// Function to reset the play button state
const resetPlayButton = () => {
    playBtn.classList.add('pause');
    playBtn.classList.remove('play');
    disk.classList.remove('play');
};

// Function to adjust font size based on song title length



        // Call the function to populate the album selector
        populateAlbumSelector(albums);

        // Function to set music for the selected album
        const setMusic = (i) => {
            seekBar.value = 0; // set range slide value to 0;
            let song = albums[currentAlbumIndex].songs[i];
            currentMusic = i;
            music.src = song.audio_url;

            songName.innerHTML = song.title;
            artistName.innerHTML = albums[currentAlbumIndex].title; // Set artist name (album name)
            currentTime.innerHTML = '00:00';

            music.addEventListener('loadedmetadata', () => {
                seekBar.max = music.duration;
                musicDuration.innerHTML = formatTime(music.duration);
            });
			 disk.style.transform = 'rotate(0deg)';
        }

        // Play button click event listener
        playBtn.addEventListener('click', () => {
            if (isAlbumLoaded) { // Check if an album is loaded
                if (playBtn.className.includes('pause')) {
                    music.play();
                } else {
                    music.pause();
                }
                playBtn.classList.toggle('pause');
                disk.classList.toggle('play');
            }
        });

        // Seek bar update interval
        setInterval(() => {
            seekBar.value = music.currentTime;
            currentTime.innerHTML = formatTime(music.currentTime);
        }, 500);

        // Seek bar change event listener
        seekBar.addEventListener('change', () => {
            music.currentTime = seekBar.value;
        });

        // Forward button click event listener
        forwardBtn.addEventListener('click', () => {
            if (isAlbumLoaded) { // Check if an album is loaded
                if (currentMusic >= albums[currentAlbumIndex].songs.length - 1) {
                    currentMusic = 0;
                } else {
                    currentMusic++;
                }
                setMusic(currentMusic);
                playMusic();
            }
        });

        // Backward button click event listener
        backwardBtn.addEventListener('click', () => {
            if (isAlbumLoaded) { // Check if an album is loaded
                if (currentMusic <= 0) {
                    currentMusic = albums[currentAlbumIndex].songs.length - 1;
                } else {
                    currentMusic--;
                }
                setMusic(currentMusic);
                playMusic();
            }
        });

        // Play music function
        const playMusic = () => {
            music.play();
            playBtn.classList.remove('pause');
            disk.classList.add('play');
        };

        // Listen to the "ended" event of the audio element to auto-play the next song
        music.addEventListener('ended', () => {
            forwardBtn.click();
        });

        // Assuming you want to start with the first album loaded
        //setMusic(0);
      })
      .catch(error => {
        console.error('Error fetching album data:', error);
      });
    </script>
</body>
</html>
