{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Season {{ season_number }}</h2>
    <div class="row">
        {% for episode in season_data %}
        <div class="col-md-6">
            <div class="card mb-3">
                <img src="{{ episode['Thumbnail'] }}" class="card-img-top" alt="Episode Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">{{ episode['Episode Title'] }}</h5>
                    <p class="card-text">
                        <small class="text-muted">Rating: {{ episode['Rating'] }} - Air Date: {{ episode['Air Date'] }}
                  - Runtime: {{ episode['Runtime'] }} - Episode: {{ snum }}{{ episode['Episode Number'] }}</small>
                    </p>
                    <p class="card-text">{{ episode['Episode Description'] }}</p>
                    <a href="{{ url_for('video', video_uuid=episode['uuid']) }}" class="btn btn-primary btn-block" target="_blank">Watch</a>




                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}